@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.App {
  text-align: center;
}

body {
  background-color: rgb(189, 187, 187)!important;
}

.title {
  margin: 1vh;
  font-family: 'Sriracha', cursive;
  text-align: center;
}

.input {
  margin: 3vh;
}